.login-container{
    height: 100vh;
    width: 100vw;
}
.options-login{
    display: flex;
    align-items: center;
    margin: 2rem 0;
}

.options-login span{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.4rem;
    height: 2.4rem;
    border: 1px solid var(--color-line-in-white);
    background-color: var(--color-box-footer);
    border-radius: 0.8rem;
    margin-right: 1rem;
    font-size: 1rem;
    cursor: pointer;
    color: var(--color-box-base);
    transition: opacity 0.2s;
}

.options-login span:hover{
    opacity: 50%;
}

.options-login label,
.options-login a{
    font: 400 1.4rem Poppins;
    color: var(--color-text-complement);
    transition: opacity 0.2s;
}

.options-login label:hover,
.options-login a:hover{
    opacity: 50%;
}

.options-login label{
    margin-right: 6rem;
    cursor: pointer;
}

.options-login a{
    text-decoration: none;
}

.login-container footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2rem auto;
    margin-bottom: 4rem;
    max-width: 32.7rem;
}

.accont{
    margin-top: 2rem;
}

.accont a{
    color: var(--color-primary);
}

.login-container footer p:last-child {
    color: var(--color-text-complement);
}

.login-container footer p span{
    font-size: 1.4rem ;
    color: var(--color-primary);
}

@media(min-width: 1120px){
    .login-container{
        display: flex;
        align-items: center;
    }
    .login-container section{
        margin: 0 10rem;
    }

    .login-container label{
        margin-right: 7.8rem !important;
    }

    .login-container footer{
        margin-bottom: 0;
        max-width: 35.7rem;
    }
}


@media(min-width: 411px){
    .login-container label{
        margin-right: 9rem;
    }

    .login-container footer{
        max-width: 35.7rem;
    }
}