.teachers-container{
    width: 100vw;
    height: 100vh;
}

.teachers-container .childrens{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
}

.teachers-container .childrens p {
    display: block;
    max-width: 14rem;
}

.teachers-container .childrens img{
    margin-right: 2rem;
}

@media(min-width: 1120px){

    .teachers-container .content{
        justify-content: space-between;
        flex-direction: row;
    }

    .teachers-container .childrens{
        margin-top: 0;
    }

    .teachers-container .title h2{
        display: block;
        max-width: 35rem;
    }

}