.input-form-block{
    position: relative;
}

.input-form-block label{
    font: 400 1.2rem Poppins;
    color: var(--color-input-text);
    position: absolute;
    left: 2rem;
    top: 1.2rem;
}

.form strong + .input-form-block input{
    border-top-left-radius: 0.8rem;
    border-top-right-radius: 0.8rem;
}

.input-form-block input{
    background-color: var(--color-box-footer);
    border: 1px solid var(--color-line-in-white);
    width: 100%;
    height: 7.2rem;
    padding: 0rem 2rem;
    padding-top: 1.2rem;
    outline: 0;
    font-weight: 400;
}

.input-form-block:focus-within::before{
    content: "";
    width: 2px;
    position: absolute;
    height: calc(100% - 2rem);
    top: 1rem;
    border-radius: 8rem;
    background-color: var(--color-primary);
}