:root{
    font-size: 60%;
    --color-background: #F0F0F7;
    --color-primary-lighter: #9871F5;
    --color-primary-light: #916BEA;
    --color-primary: #8257E5;
    --color-primary-dark: #774DD6;
    --color-primary-darker: #6842C2;
    --color-secondary: #04D361;
    --color-secondary-dark: #04BF58;
    --color-title-in-primary: #FFFFFF;
    --color-text-in-primary: #D4C2FF;
    --color-text-title: #32264D;
    --color-text-complement: #9C98A6;
    --color-text-base: #6A6180;
    --color-line-in-white: #E6E6F0;
    --color-input-background: #e9e9f0;
    --color-button-text: #FFFFFF;
    --color-box-base: #FFFFFF;
    --color-box-footer: #FAFAFC;
    --color-button-feature: #1186d4cb;
    --color-button-feature-darker: #1c85cccb;
    --color-exit-button-feature: #D60034;
    --color-exit-button-feature-darker: #d60035bd;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body, #root
{
    height: 100vh;
}

body, textarea, p, h2{
    color: var(--color-text-base);
    font: 500 1.6rem Poppins;
}

#root{
    display: flex;
    align-items: center;
    justify-content: center;
}

body{
    background-color: var(--color-background);
}

.container {
    width: 90vw;
    max-width: 700px;
}

@media(min-width: 700px){
    :root{
        font-size: 62.5%;
    }
}