.restore-password-container{
    height: 100vh;
    width: 100vw;
}

.restore-password-container header{
    padding: 2rem;
}

.restore-password-content{
    margin-bottom: 1rem;
}

.restore-password-content .form-container .form button{
    margin: 8rem 0;
}

.restore-password-content .form-container .form .input-form-block input{
    border-radius: 0.8rem;
}

@media(min-width: 1120px){
    .restore-password-container{
        display: flex;
        align-content: center;
        justify-content: center;
    }

    .restore-password-container .form-container .form button{
        margin: 2rem 0;
    }

    .restore-password-content{
        margin: 0 10rem;
    }

    .restore-password-content .form-container .form p {
        max-width: 100%;
        margin-bottom: 5rem;
    }

    .restore-password-content .form-container .form strong{
        margin-bottom: 1rem;
    } 
}